<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvJeBMB59cRKJWbxdkuDeOXdcD8I9YS64</string>
	<key>GCM_SENDER_ID</key>
	<string>45881835603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationApp</string>
	<key>PROJECT_ID</key>
	<string>authapp1990</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp1990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45881835603:ios:eee530bae7262eb0bb46a6</string>
	<key>DATABASE_URL</key>
	<string>https://authapp1990-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>